[alt="brand-logo"]{
    position: absolute ;
    left:100px;
    top: 30px;
    width: 120px;
    height: 50px;
  }
.list-item{
    position: relative;
    display: inline;
    left:280px;
    top: 30px;
    padding: 10px 15px;
    font-size: 20px;
    color:rgb(185,185,185);
    font-family: 'Poppins', sans-serif;
}
li:first-child{
    color:black;
}
.button-group{
    position: absolute;
    right: 100px;
    font-size: 20px;
    top:40px;
}
.nav-button{
    padding: 15px 30px;
    border-radius: 10px;
    color:rgb(207,206,233);
    background-color: rgb(89,85,179);
    border: none;
    font-family: 'Poppins', sans-serif;
}

.heading-text{
 position: absolute;
 color:rgb(60,47,96);  
 top:150px;
 left:100px;
 font-size:50px;
 width: 400px; 
 font-family: 'Poppins', sans-serif;
}

span{
    color:rgb(89,85,179);
}

.description{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    top:400px;
    left:100px;
    width: 400px; 
}
.btn{
    position: absolute;
    top:530px;
    left:100px;
}
[alt="illustration"]{
    position: absolute;
    top:120px;
    left:500px;
    width:800px;
    height: 500px;

}